<!DOCTYPE html>
<html lang="en">
  <!-- 지현님 코드 -->

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/public/style/todo/daily.css" />
  </head>

  <body>
    <main>
      <header class="top">
        <a href="/">
          <img
            src="/public/images/home.png"
            width="40"
            height="40"
            class="home"
            alt="home"
          />
        </a>
        <div class="title"><%= year %>년 <%= month %>월 <%= date %>일 ToDo</div>
        <a href="/todo/<%= year %>/<%= month %>" class="close"></a>
      </header>
      <hr />
      <br />
      <form id="todoForm" name="todoForm">
        <img
          src="/public/images/questionnaire.png"
          width="30px"
          height="30px"
          alt=""
        />
        <input
          type="text"
          id="txt"
          placeholder="새로운 할 일"
          name="todo"
          required
        />
        <button type="submit" id="add">추가</button>
      </form>
      <section>
        <ul id="todoList"></ul>
        <div class="btnclear">
          <button type="button" id="clear">모두 삭제</button>
        </div>
      </section>
    </main>
    <script src="/public/js/todo/daily.js"></script>
  </body>
</html>
